/* Estilo general */
:root {
    --fondo-claro: #fffcfc;
    --fondo-medio:#f1f1f1;
    --fondo-oscuro: #000;
    --color-negro: #1c1c1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    margin: auto;
}

section {
    height: 650px;
}

/* Navbar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 10%;
    position: fixed;
    width: 90%;
    background-color:var(--fondo-claro);
}

.logo {
    text-transform: uppercase;
    font-size:1.8rem;
}

.ul-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.ul-list li:hover {
    background-color: var(--fondo-medio);
}

.ul-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.ul-list li a i {
    padding: 5px;
}

.abrir, .cerrar {
    display: none;
}

/*Section hero*/
.hero {
    height: 500px;
    background: url(images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 35px;
}

.hero h1 {
    color: var(--fondo-claro);
    font-size: 4rem;
    padding-bottom: 30px;
}

.hero p {
    color: var(--fondo-claro);
    font-size: 18px;
    padding-bottom: 30px;
}

.hero .boton-header {
    text-decoration: none;
    border: 1px solid var(--fondo-medio);
    background-color: var(--fondo-medio);
    color: var(--color-negro);
    padding: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: 0.3s;
}

.hero .boton-header:hover{
    opacity: 1;
}

.icon-bar {
    padding-top:150px;
    color: var(--fondo-medio);
    opacity: 0.7;
}

.icon-bar i {
    opacity: 0.7;
    padding: 2px;
    cursor: pointer;
}

.icon-bar i:hover{
    opacity: 1;
}

.titulo-centro {
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    font-size: 1.6rem;
}

.subtitulo-centro{
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
}   

.features-container {
    padding-top: 3rem;
    display: flex;
}

.feature {
    width: 25%;
    max-width: 25%;
    padding-top: 5px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.feature i{
    font-size: 4rem;
}

.titulo-feature {
    font-size: 1.2rem;
}

.texto-feature{
    font-size: 15px;
    line-height: 1.5rem;

}

/* Seccion Design */

.design {
    background-color: var(--fondo-medio);
    padding-left: 20px;
}

.container-design {
    display: flex;
    padding-top: 90px;
}

.left {
    width: 40%;
    padding-right: 7rem;
}

.titulo-design {
    font-size: 1.4rem;
    padding-bottom:1.6rem;
}

.texto-design {
    line-height: 1.7rem;
    font-size: 1rem;
    padding-bottom: 15px;
}

.link-design {
    text-decoration: none;
    padding: 12px;
    background-color: var(--color-negro);
    color: var(--fondo-claro);
    text-transform: capitalize;
    transition: ease 0.1s;
}

.link-design:hover {
    background-color: #b3b3b3;
    color: var(--color-negro);
}

.right {
    width: 60%;
}

.right img {
    border-radius: 10px;
}

/* Seccion Team */

section .section-team {
    height: 700;
    padding-top: 40px;
    margin-top: 30px;
    width: 1200px;
}

.team-container{
    display: flex;
    flex-direction: row;
    width: 95%;
}

.team1, .team2 {
    display: flex;
    flex-direction: row;
}

.team {
    box-sizing: border-box;
    /* flex: 0 0 25%; */
    margin: 20px 7px 40px 10px;
    border: 1px solid var(--fondo-medio);
    border-radius: 10px;
    height: 450px;
    box-shadow: 5px 5px 5px #cdcbcb;
}

.img-team{
    max-width: 100%;
    filter: grayscale(75%);
}

.team .name {
    padding: 10px;
    font-size: 1.5rem;
}

.team .position {
    padding-left: 10px;
    color: #bdb4b4;
}

.team .description {
    padding-left: 10px;
    line-height: 30px;
    letter-spacing:1px;
    font-size: 14px;
}

.link-container-team{
    width: 90%;
    background-color: var(--fondo-medio);
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link-container-team:hover {
    background-color: #cdcbcb;
}

.link-team{
    text-decoration: none;
    color: var(--color-negro);
    padding: 10px;
}

/* Section numbers */

.section-numbers {
    margin-top: 150px;
    width: 100%;
    height: 300px;
}

.container-numbers {
    width: 1200px;
    height: 230px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #696565;
    color: var(--fondo-claro);
    padding: 30px;
}

.number {
    display: flex;
    justify-content: center;
}

.nro {
    font-size: 2.5rem;
}

.mas {
    font-size: 2rem;
}

.done {
    font-size: 1rem;
}

/* Seccion Work */
.container-work {
    padding-top:40px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.grupo {
    display: flex;
    flex-direction: row;
}

.img-work {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.img-work:hover{
    opacity: 0.5;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--fondo-oscuro);
    background-color: rgba(0, 0, 0, 0,9);
}

.image-zoom {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.img-text{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: var(--fondo-claro);
    padding: 10px 0;
    height: 150px;
}

/* Animacion a la imagen */
.image-zoom, .img-text {
    -webkit-animation-name: imgZoom;
    -webkit-animation-duration: 0.5s;
    animation-name: imgZoom;
    animation-duration: 0.5s;
}

@-webkit-keyframes imgZoom {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}

@keyframes imgZoom {
    from { transform: scale(0);}
    to { transform: scale(1);}
}

.btn-close {
    position: absolute;
    top: 50px;
    right: 70px;
    font-size: 30px;
    transition: 0.5s;
    color: var(--fondo-claro);
}

.btn-close:hover {
    cursor: pointer;
    color: #696565;
}

/* Section skills */

.section-skills{
    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 25px;
    background-color: var(--fondo-medio);
}

.skills-left {
    width: 40%;
    padding-right: 30px;
}

.skills-left h3, .skills-left p {
    text-align: left;
}

.skills-right{
    width: 60%;
    padding-left: 30px;
}

.barra-titulo {
    display: flex;
    margin: 5px;
}

.barra-titulo i {
    margin: 10px;
    padding-right: 10px;
}

.barra-titulo p {
    margin: 10px;
    letter-spacing: 3px;
}
.progress {
    height: 30px;
    border-radius: 0;
    background-color:#938f8f;
    font-size: 1rem;
}

.progress-bar {
    background-color:#696565;
}

/* seccion pricing */

.section-pricing {
    background-color: #6b6969;
    height: 900px;
    padding:50px 15px;
}

.titulo-pricing {
    color: var(--fondo-claro);
}

.container-pricing{
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
}

.cuadro {
    flex:0 0 33%;
    margin-top:4%;
}

.rojo {
    margin-top:2%;
}

.cuadro ul li {
    list-style-type: none;
    padding: 15px;
    display: block;
    background-color: var(--fondo-claro);
    border-bottom: 1px solid var(--fondo-medio);
    text-align: center;
    font-size: 1rem;
}

li:hover{
    box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cuadro ul li.fondo-negro{
    background-color: var(--fondo-oscuro);
    color: var(--fondo-claro);
    padding: 30px 0;
    font-size: 1.6rem;
}

.cuadro ul li.fondo-rojo{
    background-color: red;
    color: var(--fondo-claro);
    padding: 30px 0;
    font-size: 1.6rem;
}

span.negrita {
    font-weight: bold;
}

.precio {
    font-size: 2rem;
    font-weight: lighter;
    color: #1c1c1c;
}

.mes {
    padding-top: 20px;
    color: #c0bcbc;
}

.cuadro ul li.btn-sign{
    background-color: var(--fondo-medio);
    padding: 30px 0;
    font-size: 1rem;
}

.cuadro ul li.btn-sign a {
    text-decoration: none;
    color: var(--fondo-claro);
    background-color: var(--fondo-oscuro);
    padding:10px;
    width: 400px;
    height: 30px;
}

.cuadro ul li.btn-sign a:hover{
    background-color: #c0bcbc;
    color: #1c1c1c;
}

/* Seccion Contacto */
.section-contact{
    background-color: var(--fondo-medio);
    height: auto;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.icon i {
    font-size:1.9rem;
    padding-right: 20px;
}

/* Formulario */
form{
    padding: 5px 0 50px 0;
}

.input {
    display: block;
    width: 95%;
    margin: 20px;
    padding: 9px;
    border: 1px solid var(--fondo-medio);
}
.textarea {
    margin-bottom: 30px;
}

.btn-contacto{
    text-decoration: none;
    padding: 12px;
    background-color: var(--fondo-oscuro);
    color: var(--fondo-claro);
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 14px;
    margin-left: 20px;
}

.btn-contacto:hover {
    background-color: #c0bcbc;
    color: var(--fondo-oscuro);
}

.contact-img {
    padding: 60px 0 100px 0;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: var(--color-negro);
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.btn-footer {
    text-decoration: none;
    background-color:  var(--fondo-claro);
    color: #1c1c1c;
    padding: 8px 10px;
    margin: 30px 0 0 0;
}

.btn-footer:hover {
    background-color: #bdb4b4;
}

.btn-footer i {
    font-size: 1.5rem;
}

.icon-footer{
    padding: 30px 0;
    color: var(--fondo-claro);
}

.txt-footer{
    color: var(--fondo-claro);
    padding-bottom: 20px;
    text-decoration: none;
}

.flecha-arriba{
    position: fixed;
    bottom: 40px;
    right: 70px;
    border-radius: 100%;
    border: 1px solid #1c1c1c;
    background-color: #1c1c1c;
    height: 45px;
    width: 50px;
    transform: translateY(100px);
    transition: 0.3s;
}   

.flecha-arriba i {
    color: var(--fondo-claro);
    font-size: 1.4rem;
}

.flecha-arriba-activo {
    transform: translateY(0);
}

/* Responsive Area */
@media all and (min-width:993px) and (max-width: 1200px) {

    body {
        width: 990px;
    }

    section {
        height: 650px;
    }

    /* Navbar */
    header {
        width: 100%;
    }

    /* Seccion Design */
    .right img {
        width: 90%;
    }

    /* Seccion Team */
    .img-team {
        padding: 1px;
    }

    /* Section numbers */
    .section-numbers {
        width: 90%;
    }

    .container-numbers {
        width: 990px;
    }

    /* Seccion Work */
    section .work {
        width: 90%;
    }

    .container-work {
        width: 950px;
    }

    .grupo {
        width: 90%;
    }

    .img-work {
        width: 290px;
        height: 170px;
    }

    /* Section skills */
    .section-skills{
        width: 100%;
    }

    .skills-left {
        padding-right: 15px;
    }

    .skills-right{
        padding-left: 20px;
    }

    /* seccion pricing */

    /* Seccion Contacto */

    /* Formulario */

    /* Footer */
    footer {
        width: 100%;
    }
}

 @media all and (min-width:601px) and (max-width: 992px) {

    body {
    width: 100%;
    }

    section {
        width: 100%;
    }

    /* Navbar */
    header {
        width: 100%;
        padding: 1rem;
    }
    
     .logo {
        font-size:1.5rem;
    }
    
    .ul-list {

        gap:0.7rem;
    }
    
    .ul-list li a {
        font-size: 1rem;
    }

    /* Hero */
    .hero {
        height: 600px;
        padding: 95px 35px;
    }

    .icon-bar {
        padding-top:100px;
    }

    /*Section About*/
    .about {
        width: 100%;
    }
    /* Seccion Design */

    .design {
        height: 500px;
        width: 100%;
        padding-left: 10px;
    }

    .left {
        padding-right: 2rem;
    }

    .right {
        width: 60%;
    }

    .right img {
        width: 90%;
        border-radius: 10px;
    }

    /* Seccion Team  */

    section.section-team {
        height: 1100px;
        margin: auto;
        width: 90%;
    }
    
    .team-container{
        display: flex;
        width: 95%;
    }
    
    .team1, .team2 {
        display: block;
    }
    
/* Section numbers */

    .container-numbers {
        width: 100%;
    }

/* Seccion Work */
    section.work{
        height: 1100px;
    }

    .container-work {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .grupo {
        display: flex;
        flex-direction: column;
    }

    .btn-close {
        top: 30px;
        right: 10px;
    }

/* Section skills */

    .section-skills{
        /* margin-top: 100px; */
        height:600px;
        /* display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 80px 25px;
        background-color: var(--fondo-medio); */
    }

    .skills-left {
        padding-right:10px;
    }

    .skills-right{
        width: 60%;
        padding-left: 20px;
    }

/* seccion pricing */

/* Seccion Contacto */

/*Footer*/
    .btn-footer { 
        padding: 0 10px;
    }

    .icon-footer{
        padding: 20px 0;
    }
}


@media all and (min-width:320px) and (max-width: 600px) {

    body {
        width: 100%;
    }

    section {
        width: 100%;
        height: 650px;
    }

    /* Navbar */
    header {
        width: 100%;
        height: 15%;
        padding: 1rem;
    }
    
    .logo {
        font-size:1.5rem;
    }

    .abrir, .cerrar {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir{
        color: #1c1c1c;
    }

    .cerrar{
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    
    .ul-list {
        flex-direction: column;
        align-items: end;
        /* gap:1rem; */
    }
    
    .ul-list li a {
        /* font-size: 1rem; */
        color: #ececec;
    }

    /* Section Hero */
    .hero{
        height: 600px;
        padding: 100px 35px;
    }

    .hero h1 {
        font-size:3.5rem;
    }

    /* Section about */
    .about {
        height: 1300px;
    }

    .features-container {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 90%;
        max-width: 95%;
    }

    /* Seccion Design */
    .design {
        height: 750px;
    }

    .container-design {
        flex-direction: column;
    }

    .left {
        width: 100%;
        padding: 2rem;
    }

    .right {
        width: 90%;
    }

    .right img {
        max-width: 100%;
        margin: auto;
    }

    /* Seccion Team */
    section.section-team {
        height: 2700px;
        width: 100%;
    }

    .team-container{
        flex-direction: column;
    }

    .team1, .team2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team {
        height: 600px;
    }

    .team .description {
        padding: 15px;
    }

    /* Section numbers */
    .container-numbers {
        width: 100%;
    }

    .nro {
        font-size: 2rem;
    }

    /* Seccion Work */
    .work{
        width: 100%;
        height: auto;
    }

    .container-work {
        padding-top:20px;
        width: 100%;
        flex-direction: column;
    }

    .grupo {
        flex-direction: column;
    }

    /* Modal */
    .btn-close {
        right: 25px;
    }
    
    /* Section skills */
    .section-skills{
        margin-top: 50px;
        height: 650px;
        flex-direction: column;
        justify-content: center;
    }

    .skills-left, .skills-right {
        width: 100%;
        padding-right:20px;
    }

    /* seccion pricing */
    .section-pricing {
        height:auto;
    }

    .container-pricing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 35px 0;
    }

    .cuadro {
        flex:0;
        margin-top:4%;
        margin: auto;
        width: 100%;
    }

    .rojo {
        margin-top:0;
    }

    ul.basic, ul.pro {
        padding-left: 1px;
    }

    /* Seccion Contacto */
    /* Formulario */
    /* Flecha ir arriba */
    .flecha-arriba{
        right: 20px;
    }
}






