/* Estilo general */
:root {
    --fondo-claro: #fffcfc;
    --fondo-medio:#f1f1f1;
    --fondo-oscuro: #000;
    --color-negro: #1c1c1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    margin: auto;
}

section {
    height: 600px;
    padding: 50px;
}

/* Especificos */

nav {
    background-color:var(--fondo-claro);
    height: 10%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo h3{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
}

div.navbar ul{
    display: flex;
}

div.navbar a{
    text-decoration: none;
    color: var(--color-negro);
    text-transform: uppercase;
    padding: 15px;
}

div.navbar li {
    list-style-type: none;
}

header {
    height: 500px;
    background: url(images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 35px;
}

header h1 {
    color: var(--fondo-claro);
    font-size: 4rem;
    padding-bottom: 30px;
}

header p {
    color: var(--fondo-claro);
    font-size: 18px;
    padding-bottom: 30px;
}

header .boton-header {
    text-decoration: none;
    border: 1px solid var(--fondo-medio);
    background-color: var(--fondo-medio);
    color: var(--color-negro);
    padding: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: 0.3s;
}

header .boton-header:hover{
    opacity: 1;
}

.icon-bar {
    padding-top:150px;
    color: var(--fondo-medio);
    opacity: 0.7;
}

.icon-bar i {
    opacity: 0.7;
    padding: 2px;
    cursor: pointer;
}

.icon-bar i:hover{
    opacity: 1;
}

.titulo-centro {
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    font-size: 1.6rem;
}

.subtitulo-centro{
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
}   

.features-container {
    padding-top: 3rem;
    display: flex;
}

.feature {
    width: 25%;
    max-width: 25%;
    padding-top: 5px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.feature i{
    font-size: 4rem;
}

.titulo-feature {
    font-size: 1.2rem;
}

.texto-feature{
    font-size: 15px;
    line-height: 1.5rem;

}

/* Seccion Design */

.design {
    background-color: var(--fondo-medio);
    padding-left: 20px;
}

.container-design {
    display: flex;
    padding-top: 90px;
}

.left {
    width: 40%;
    padding-right: 7rem;
}

.titulo-design {
    font-size: 1.4rem;
    padding-bottom:1.6rem;
}

.texto-design {
    line-height: 1.7rem;
    font-size: 1rem;
    padding-bottom: 15px;
}

.link-design {
    text-decoration: none;
    padding: 12px;
    background-color: var(--color-negro);
    color: var(--fondo-claro);
    text-transform: capitalize;
    transition: ease 0.1s;
}

.link-design:hover {
    background-color: #b3b3b3;
    color: var(--color-negro);
}

.right {
    width: 60%;
}

.right img {
    border-radius: 10px;
}

/* Seccion Team */






